.mt-agenda [ng-click] {
    cursor: pointer;
}

.mt-agenda .mg-body {
    overflow-y: auto;
}

.mt-agenda .mg-title-left{
    float: left;
    cursor: pointer;
}
.mt-agenda .mg-title{
    text-align: center;
}
.mt-agenda .mg-title-right{
    float: right;
    cursor: pointer;
}

.mt-agenda .mg-table{
    width:100%;
}
.mt-agenda .mg-table-header{
    padding-left: 5px;
    padding-right: 5px;
    border: solid 1px #d3d3d3;
    font-size: smaller;
}
.mt-agenda .mg-table-header-day.is-other-month{
    color: #e0e0e0;
}
.mt-agenda .mg-item:nth-child(even) {
    background-color: aliceblue;
}

.mt-agenda .mg-item:hover {
    background-color: lightyellow;
}

.mt-agenda .mg-table-header-day:hover {
    background-color: lightyellow;
    cursor:default;
}

.mt-agenda .mg-item-body {
    margin: 2px;
}

.mt-agenda .mg-item-img img{
    width: 50px;
}

.mt-agenda .mg-item-name {
    padding: 10px;
}

.mt-agenda a{
    cursor: pointer;
}

.mt-agenda .mg-item-day{
    border-right: solid 1px #e0e0e0;
}

.mt-agenda .mg-item:first-child{
    border-left: solid 1px #e0e0e0;
}
.mt-agenda .mg-item-day.is-we{
    background-color: #f5f5f5 ;
}

.mt-agenda .mg-item:hover .mg-item-day.is-we{
    background-color: lightgoldenrodyellow ;
}

.mt-agenda .mg-item-day.is-today{
    border-right: solid 1px coral;
}


.mt-agenda .mg-item.selected{
    background-color: #86C4ED;
}
.mt-agenda .mg-item.selected .mg-item-day.is-we{
    background-color: #B4DDF8;
}
